body{
    background-color: rgba(203, 168, 116, 0.913);
}

.bg-dropDown{
    background-color: #ffa35d;
}
.itemText-color {
    color: #3f2715;
}

.introducing-Block {
    padding-top: 6rem;
}

.introducing-Text {
    color: rgb(85, 59, 2);
}

@media (min-width: 769px){
    .introducing-Text-Block {
        padding-top: 8rem;
    } 

    .introducing-Text-Block_02 {
        padding-top: 12rem;
    } 

    .introducing-Block_02 {
        margin-top: -4rem;
        overflow: hidden;
    }

    .money {
        justify-content: center;
        align-items: flex-end;
    }

    .banner {
        height: 100vh;
    }

    .capooBottom {
        background-image: url("images/搖屁屁.gif");
        background-repeat: no-repeat;
        background-position-y: 80%;

    }
}

@media (min-width: 576px) {
    .navbar-width {
      max-width: 576px;
    }
}

@media (max-width: 1366px){
    .headCommercial {
        display: none;
    }
}

@media (max-width: 768px) {
    .minusMg{
        margin: 0 -0.5rem 0 0;
    }

    .capooBottom {
        display: none !important;
    }
}

.banner {
    overflow: hidden;
}

.parallax {
    height: 100vh;
    width: 100%;
    background-image: url("images/咖波屋標誌.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}

.shield {
    width: 100%;
    height: 100%;
    background-color: rgba(127, 205, 254, 0.112);
}

.card-color {
    background-color: rgba(220, 174, 125, 0);
    border: 0;
}

footer {
    background-color: #bd8a63;
}

.bg-card{
    background-color: rgb(223, 105, 31);
}

.bg-card2{
    background-color: rgb(177, 58, 22);
}

.bg-card3{
    background-color: rgb(154, 70, 17);
}

.bg-card4{
    background-color: rgb(113, 34, 10);
}

.card-text {
    color: rgb(255, 252, 214);
}
