html {
    scroll-behavior: smooth;
}

body{
    background-color: rgba(203, 168, 116, 0.913);
}

.bg-dropDown{
    background-color: #ffa35d;
}
.itemText-color {
    color: #3f2715;
}

.introducing-Block {
    padding-top: 6rem;
}

.introducing-Text {
    color: rgb(85, 59, 2);
}

@media (min-width: 769px){
    .introducing-Text-Block {
        padding-top: 8rem;
    } 

    .introducing-Text-Block_02 {
        padding-top: 12rem;
    } 

    .introducing-Block_02 {
        margin-top: -4rem;
        overflow: hidden;
    }

    .money {
        justify-content: center;
        align-items: flex-end;
    }

    .banner {
        height: 100vh;
    }

    .capooBottom {
        background-image: url("images/搖屁屁.gif");
        background-repeat: no-repeat;
        background-position-y: 80%;

    }

}

@media (min-width: 576px) {
    .navbar-width {
      max-width: 576px;
    }
}

.test {
    z-index: -2;
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
}

.testImg {
    width: 100%;
    align-self: center;
}

.sbg {
    width: 100%;
    height: 100%;
    background-color: rgb(203, 168, 116);
    z-index: 1;
}

@media (max-width: 1366px){
    .headCommercial {
        display: none;
    }
}


.parallax {
    height: 100vh;
    width: 100%;
    background-image: url("images/咖波屋標誌.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}



@media (max-width: 768px) {
    .minusMg{
        margin: 0 -0.5rem 0 0;
    }

    .capooBottom {
        display: none !important;
    }

    .parallax {
       background-position: top;
    }
}

.banner {
    overflow: hidden;
}


.shield {
    width: 100%;
    height: 100vh;
    background-color: rgba(127, 205, 254, 0.112);
}

.card-color {
    background-color: rgba(220, 174, 125, 0);
    border: 0;
}

footer {
    background-color: #bd8a63;
    color: #3f1a0b;
}

.icon {
    font-size: 2rem;
}
.icon2 {
    margin-left: 1rem;
    color: rgb(196, 66, 134);
}

.icon2:hover {
    color: rgb(174, 57, 117);
}

.address {
    color: #3f1a0b;
}

.address:hover {
    color:#742112;
    text-decoration: none;
}